/* CSS document */
body {
	background: url('pictures/cover_img.jpg') no-repeat center center fixed;
}

#title {
	position:absolute;
	bottom: 45%;
	left: 25%;
	width:50%;
	text-align:center;
	border: 5px solid white;
	border-color:rgb(5,97,0);
}


#title h1 a:link {color:rgb(217,34,32);
text-decoration: none;

}
#title h1 a:visited {color:rgb(217,34,32);
text-decoration: none;
}

#title h1 a:hover {color:RGB(217,102,0);
text-decoration: underline;
    text-decoration-style:double;

}

#title h1 a:active {color:RGB(9,158,0);
text-decoration: underline;

}