/* CSS Document */

body {background: url("../images/crow.jpg") no-repeat center center fixed;}
footer {margin-top:600px;}
h3 {text-align:center;}
h1 {text-align:center;}
h4 {text-align:center;}
#1 {margin-top:400px;}
header {height:100px;}